<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title th:text="${welcome}">spring.springmvc01</title>
<script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.js}"></script>
</head>

<body>
	springmvc零xml配置测试成功
	<br />
	<!-- <div th:text="${authentication.name}"></div> -->
	<input type="hidden" id="myusername" th:value="${#authentication.name}" />
	<span th:if="${#authentication.name} != null"> 欢迎 <span
		th:text="${#authentication.name}"></span>
	</span>
	<br />
	<a href="logout">退出</a>
	<br />
	<form action="file" method="post" enctype="multipart/form-data">
		上传文件：<input id="file" name="file" type="file" accept="image/jpeg"><br>
		<br />
		<button type="submit">上传</button>
	</form>

	<br />
	<br />
	<h2>spring-jdbc</h2>
	<form action="findOne" method="post" role="form">
		username:<input type="text" name="name" id="name">
		<button type="submit">查询</button>
		<br />
	</form>
	<br /> 查询结果：
	<br />
	<span th:if="${pan != null}" th:text="${pan.name}"></span>
	<span th:if="${pan != null}" th:text="${pan.passWord}"></span>

	<br />
	<br />
	<form action="save" method="post" role="form">
		username:<input type="text" name="name" id="name"><br>
		password: <input type="password" name="password" id="password"><br>
		enabled: <input type="text" name="enabled" id="enabled"><br>
		<button type="submit">保存</button>
		<br />
	</form>

	<h2>hibernate</h2>

	<form action="hibernatefindOne" method="post" role="form">
		id:<input type="text" name="id" id="id">
		<button type="submit">查询</button>
		<br />
	</form>
	<br /> 查询结果：
	<br />
	<span th:if="${hibernatepan != null}" th:text="${hibernatepan.id}"></span>
	<span th:if="${hibernatepan != null}" th:text="${hibernatepan.name}"></span>
	<span th:if="${hibernatepan != null}"
		th:text="${hibernatepan.passWord}"></span>

	<br />
	<br />
	<form action="hibernatesave" method="post" role="form">
		id:<input type="text" name="id" id="id"><br> username:<input
			type="text" name="name" id="name"><br> password:<input
			type="password" name="password" id="password"><br>
		enabled: <input type="text" name="enabled" id="enabled"><br>
		<button type="submit">保存</button>
		<br />
	</form>

	<h2>jpa-hibernate</h2>

	<form action="jpahibernatefindOne" method="post" role="form">
		id:<input type="text" name="id" id="id">
		<button type="submit">查询</button>
		<br />
	</form>
	<br /> 查询结果：
	<br />
	<span th:if="${jpahibernatepan != null}"
		th:text="${jpahibernatepan.id}"></span>
	<span th:if="${jpahibernatepan != null}"
		th:text="${jpahibernatepan.name}"></span>
	<span th:if="${jpahibernatepan != null}"
		th:text="${jpahibernatepan.passWord}"></span>

	<br />
	<br />
	<form action="jpahibernatesave" method="post" role="form">
		id:<input type="text" name="id" id="id"><br> username:<input
			type="text" name="name" id="name"><br> password:<input
			type="password" name="password" id="password"><br>
		enabled: <input type="text" name="enabled" id="enabled"><br>
		<button type="submit">保存</button>
		<br />
	</form>

	<h2>spring-data-jpa</h2>

	<form action="springdatajpahibernatefindOne" method="post" role="form">
		id:<input type="text" name="id" id="id"> name:<input
			type="text" name="name" id="name">
		<button type="submit">查询</button>
		<br />
	</form>
	<br /> 查询结果：
	<br />

	<table>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>PASSWORD</th>
		</tr>
		<tr th:each="pan : ${springdatajpahibernatepan}">
			<td th:text="${pan.id}"></td>
			<td th:text="${pan.name}"></td>
			<td th:text="${pan.passWord}"></td>
		</tr>
	</table>

	<!-- <span th:if="${springdatajpahibernatepan != null}"
		th:text="${springdatajpahibernatepan.id}"></span>
	<span th:if="${springdatajpahibernatepan != null}"
		th:text="${springdatajpahibernatepan.name}"></span>
	<span th:if="${springdatajpahibernatepan != null}"
		th:text="${springdatajpahibernatepan.passWord}"></span>
 -->
	<br />
	<br />
	<form action="springdatajpahibernatesave" method="post" role="form">
		id:<input type="text" name="id" id="id"><br> username:<input
			type="text" name="name" id="name"><br> password:<input
			type="password" name="password" id="password"><br>
		enabled: <input type="text" name="enabled" id="enabled"><br>
		<button type="submit">保存</button>
		<br />
	</form>

	<h2>spring-data-redis</h2>

	<form action="springdataredisFindOne" method="post" role="form">
		id:<input type="text" name="id" id="id">
		<button type="submit">查询</button>
		<br />
	</form>
	<br /> 查询结果：
	<br />

	<table>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>PASSWORD</th>
		</tr>
		<tr th:each="pan : ${springdataredispan}">
			<td th:text="${pan.id}"></td>
			<td th:text="${pan.name}"></td>
			<td th:text="${pan.passWord}"></td>
		</tr>
	</table>

	<br />
	<br />
	<form action="springdataredissave" method="post" role="form">
		id:<input type="text" name="id" id="id"><br> username:<input
			type="text" name="name" id="name"><br> password:<input
			type="password" name="password" id="password"><br>
		enabled: <input type="text" name="enabled" id="enabled"><br>
		<button type="submit">保存</button>
		<br />
	</form>

	<h2>spring-rest</h2>

	<form id="jsonrestredisFindOne" action="jsonrestredisFindOne"
		method="get" role="form">
		id:<input type="text" name="id" id="id">
		<button type="submit" onclick="jsonsubmit()">查询(json)</button>
		<br />
	</form>

	<form id="xmlrestredisFindOne" action="xmlrestredisFindOne"
		method="get" role="form">
		id:<input type="text" name="id" id="id">
		<button type="submit" onclick="xmlsubmit()">查询(xml)</button>
		<br />
	</form>
	<br />
	<form action="restredissave" id="restredissave" method="post"
		role="form" enctype="application/x-www-form-urlencoded">
		id:<input type="text" name="id" id="id"><br> username:<input
			type="text" name="name" id="name"><br> password:<input
			type="password" name="passWord" id="passWord"><br>
		enabled: <input type="text" name="enabled" id="enabled"><br>
		<button type="button" onclick="restredissave()">保存</button>
		<br />
	</form>

	<h2>低层次WebSocket</h2>
	<button type="button" onclick="websocketdemo01()">开始模拟（看游览器控制台），关闭请刷新页面</button>

	<h2>stomp发送信息</h2>
	<button type="button" onclick="websocketdemo02()">开始模拟（看游览器控制台），关闭请刷新页面</button>

	<h2>stomp接受订阅</h2>
	<button type="button" onclick="websocketdemo03()">开始模拟（看游览器控制台），关闭请刷新页面</button>
	<br />
	<span id="receive"></span>

	<br />
	<form id="sendtouser" role="form">
		username: <input type="text" name="username">
		<button type="button" onclick="sendtouser()">发送欢迎信息</button>
	</form>

	<script th:inline="javascript">
		var sendtouser = function() {
			var username = $("#sendtouser input[name='username']").val();
			$.ajax({
				type : 'POST',
				url : "sendtouser",
				//发送的数据  ：对象-》字符串
				data : {
					"username" : username
				},
				dataType : 'json',
				success : function(data) {
				}
			});
		}

		/* 	$(function() { */
		var ws = "ws://" + window.location.host
				+ "/SpringmvcWithoutXml/websocketstomp";
		window.stomp = Stomp.client(ws);

		window.stomp.connect({}, function(frame) {
			var username = $("#myusername").val();
			if (username == "anonymousUser" || username == null){
				
			}else{
				window.stomp.subscribe("/queue/touser-"+username, function(incoming) {
					var pan = incoming.body;
					console.info(pan);
				});
			}
				
		});

		/* function handletouser(incoming) {
			var pan = incoming.body;
			console.info(pan); */
		/* $("#receive").append(
				new Date() + ": 接受一个redispan，name为" + pan.name
						+ "<br/>"); */
		/* } */
		/* }); */

		var jsonsubmit = function() {
			$("#jsonrestredisFindOne").submit();
		}

		var xmlsubmit = function() {
			$("#xmlrestredisFindOne").submit();
		}
		var restredissave = function() {

			var pan = {};
			pan["id"] = $("#restredissave #id").val();
			pan["name"] = $("#restredissave #name").val();
			pan["passWord"] = $("#restredissave #passWord").val();
			pan["enabled"] = $("#restredissave #enabled").val();

			$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : "restredissave",
				//发送的数据  ：对象-》字符串
				data : JSON.stringify(pan),
				//返回的数据类型
				dataType : 'json',
				success : function(data) {
					if (data != null) {
						$("#restredissave button").after(" " + data.msg);
					} else {
						customjAlert("保存失败!", "提示");
					}
				}
			});
		}

		var websocketdemo01 = function() {
			var url = "ws://" + window.location.host
					+ "/SpringmvcWithoutXml/websocket";
			var sock = new WebSocket(url);

			sock.onopen = function() {
				console.info("sock 启动");
				sayHello();
			}

			sock.onmessage = function(e) {
				console.info("来自服务端的信息为  " + e.data);
				setTimeout(function() {
					sayHello();
				}, 2000);
			}

			sock.onclose = function() {
				console.info("sock 关闭");
			}

			function sayHello() {
				sock.send("服务器你好！");
				console.info("服务器你好！");
			}

		}

		var websocketdemo02 = function() {
			/* 
			 var ws = "ws://" + window.location.host
			 + "/SpringmvcWithoutXml/websocket";
			 var stomp = Stomp.over(ws); */
			//var url = "ws://" + window.location.host + "/SpringmvcWithoutXml/websocketstomp";
			//var client = Stomp.overWS('ws://localhost:61614/stomp');
			//				var sock = new WebSocket(url);
			//				var stomp = Stomp.client(url);
			var playload = {
				'id' : 1,
				'name' : '1',
				'passWord' : '1',
				'enabled' : 1
			};

			//window.stomp.connect('guest', 'guest', function(frame) {
			window.stomp.send("/app/demo01", {}, JSON.stringify(playload));
			console.info("发送信息   " + playload.name);
			//});

		}

		var websocketdemo03 = function() {

			/* var ws = "ws://" + window.location.host
					+ "/SpringmvcWithoutXml/websocket";
			var stomp = Stomp.over(ws); */
			var playload = {
				'id' : 1,
				'name' : '1',
				'passWord' : '1',
				'enabled' : 1
			};

			//window.stomp.connect('guest', 'guest', function(frame) {
			window.stomp.subscribe("/queue/test.rabbit.queue", handleredispan);
			//});

			function handleredispan(incoming) {
				var pan = JSON.parse(incoming.body);
				console.info("接受一个来自服务器的redispan,name为" + pan.name);
				$("#receive").append(
						new Date() + ": 接受一个redispan，name为" + pan.name
								+ "<br/>");
			}
		}
	</script>

</body>

</html>